@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans_SemiCondensed-Medium.ttf);
    font-weight: 800;
}

h1 {
    color: rgb(199, 22, 31);
    font-family: 'Open Sans';
    font-weight: 800;
}

h4 {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}


h5 {
    color: rgb(165, 42, 159);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: italic;
}

.title {
    font-size: 45px;
    line-height: normal;
    color: rgb(17, 0, 255);
}

.description {
    color: darkorange;
    font-style: italic;
    font-size: 32px;
}

.images {
    width: 200px;
    height: 200px;
}

p {
    font-family: 'Open Sans';
    font-weight: 800;
}