@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.three_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding-bottom: 100px;
}

.header_menu {
    display: flex;
    gap: 10px;
}

.header_menu_first_link {
    font-family: "Gilroy-SemiBold";
    color: #F25822;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_menu_first_link:hover {
    text-decoration: underline;
}

.header_menu_link {
    font-family: "Gilroy-Medium";
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_menu_link:hover {
    text-decoration: underline;
}


.header_menu_link_features {
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon_for_features {
    width: 8px;
    height: 5px;
}

.intro {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin-top: 84px;
    margin-right: auto;
    margin-left: auto;
}

.intro_title {
    font-family: "Gilroy-Bold";
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.intro_text {
    font-family: "Gilroy-Medium";
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 17px;
    width: 466px;
}

.intro_button_wrapper {
    display: flex;
    gap: 72px;
    margin-top: 37px;
}

.intro_button_start {
    font-family: "Gilroy-Bold";
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 50px;
    background-color: #F25822;
    width: 140px;
    height: 50px;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.intro_button_start:hover {
    border: 1px solid #000;
    color: #F25822;
    background-color: #FFF;
    box-shadow: none;
}

.intro_button_start:active {
    background-color: #F25822;
    color: #000;
}

.intro_button_watch_video {
    font-family: "Gilroy-Bold";
    color: #AAA;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 50px;
    background-color: #FFF;
    width: 140px;
    height: 50px;
}

.intro_button_watch_video:hover {
    border: 1px solid #F25822;
}

.intro_button_watch_video:active {
    background-color: #F25822;
    color: #FFF;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    margin-top: 162px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 97px;
}

.intro_elem {
    display: flex;
    justify-content: center;
    width: 1170px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    gap: 30px;
    padding: 25px;


}

.elem {
    width: 370px;
    height: 291px;
    flex-shrink: 0;
    background: #FFF;
    padding: 30px;


}


.elem_shadow {
    width: 370px;
    height: 291px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.elem_title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 17px 0 25px 0;

}

.elem_text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 310px;
    height: 42px;
    flex-shrink: 0;
    padding: 17px 0 25px 0;


}

.elem_link {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.tcard {

    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

.header_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_cards_title {
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 45px;
    padding-top: 92px;
}

.header_cards_text {
    color: #666;
    font-family: 'Gilroy-Regular';
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    width: 682px;
    padding-top: 19px;
    padding-bottom: 55px;
}

.three_big_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding-bottom: 100px;
}

.big_card:hover {
    cursor: pointer;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.container_card_title_text_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px 50px;
}


.one_big_cards_title {
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
}

.one_big_cards_text {
    color: #AAA;
    text-align: center;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 150%;
    width: 310px;
    padding-top: 22px;
    padding-bottom: 39px;
}

.one_big_cards_button_learn_more {
    color: #FFF;
    font-family: 'Gilroy-Bold';
    font-size: 13px;
    border: none;
    border-radius: 50px;
    background-color: #F25822;
    width: 150px;
    height: 50px;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    cursor: pointer;
    padding: 0;
}

.one_big_cards_button_learn_more:hover {
    border: 1px solid #000;
    color: #F25822;
    background-color: #FFF;
    box-shadow: none;
}

.one_big_cards_button_learn_more:active {
    color: #000;
    background-color: #F25822;
}

.container_for_text_and_icon_button_learn_more {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left: 46px;
    height: 20px;
}